header{
                              height:450px;
                              background-image: url('../HD-wallpaper-black-panther-colorful-lights-background-black-panther.jpg');
                              border-radius: 10px;
                              background-repeat: none ;
}
div{
                              /* background-color: chartreuse;
                              border-radius: 5px; */
}
*{
                              margin:0%;
}